@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");

:root {
  font-family: "Poppins";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

.btn-wrapper > button,
.room-card-wrapper {
  box-shadow: 0px 0px 32px 3px rgba(0, 0, 0, 0.2);
}

.content-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 4em 0;
}

.room-card-wrapper img {
  width: 100%;
  /* height: 36vh; */
  height: 10em;
  object-fit: cover;
  object-position: center 50%;
}

.view-more > svg {
  height: 1.25em;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

.background-user {
  background-color: rgb(255, 206, 60);
}
.background-house {
  background-image: url("https://images.unsplash.com/photo-1499336315816-097655dcfbda?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2710&amp;q=80");
  opacity: 0.5;
  /* background-color: rgb(255, 206, 60); */
}

.svg-wrapper {
  transform: translateZ(0px);
}

.profile-pic {
  height: 300px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-image: url("../public/profile-pic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.house-pic {
  height: 320px;
  aspect-ratio: 1.25;
  /* border-radius: 50%; */
  background-image: url("../public/house1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.profile-pic-wrapper {
  transform: translateY(-50%);
}

.interested-body .room-card-wrapper .house-card {
  width: 1000px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 0;
  background: transparent;
}

::-webkit-scrollbar-track {
  border-radius: 100vw;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border: 1px solid #f4d98a;
  border-radius: 100vw;
  background: #f4d98a;
}

::-webkit-scrollbar-thumb:hover {
  background: #ac8d34;
  border: 1px solid #ac8d34;
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: #f4d98a;
  }
}

@media (max-width: 768px) {
  ::-webkit-scrollbar-track {
    margin-top: 0;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
